flow.json
[{"id":"2be84604.32e1fa","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"433b47b2.d80718","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b93265b8.1aa768","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["f16158e8.267678"]]},{"id":"f16158e8.267678","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"IN1","pin":"24","set":"","level":"0","freq":"","out":"out","x":550,"y":240,"wires":[]},{"id":"d9b481db.ad23","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"IN２","pin":"26","set":"","level":"0","freq":"","out":"out","x":550,"y":300,"wires":[]},{"id":"3914cf5c.85693","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["d9b481db.ad23"]]},{"id":"ee40429e.0b3c6","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"Vref","pin":"32","set":"","level":"0","freq":"100","out":"pwm","x":550,"y":380,"wires":[]},{"id":"232ba7c5.1be268","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["ee40429e.0b3c6"]]},{"id":"81d2d8e8.baee18","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["d9b481db.ad23"]]},{"id":"654e8e21.d17dd","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["f16158e8.267678"]]}]