flow.json
[{"id":"2be84604.32e1fa","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"433b47b2.d80718","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"plarailsUI","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d084e858.843008","type":"ui_group","z":"","name":"デフォルト","tab":"","disp":true,"width":"6","collapse":false},{"id":"1916cfb8.9bc83","type":"ui_group","z":"","name":"status","tab":"3f56427b.69cd5e","order":2,"disp":true,"width":"6","collapse":false},{"id":"fb7aa0ac.80691","type":"ui_group","z":"","name":"speed","tab":"3f56427b.69cd5e","order":1,"disp":true,"width":10,"collapse":false},{"id":"3f56427b.69cd5e","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false},{"id":"b93265b8.1aa768","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":80,"wires":[["f16158e8.267678"]]},{"id":"f16158e8.267678","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"IN1","pin":"24","set":"","level":"0","freq":"","out":"out","x":1140,"y":380,"wires":[]},{"id":"d9b481db.ad23","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"IN２","pin":"26","set":"","level":"0","freq":"","out":"out","x":1140,"y":440,"wires":[]},{"id":"3914cf5c.85693","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":180,"wires":[["d9b481db.ad23"]]},{"id":"ee40429e.0b3c6","type":"rpi-gpio out","z":"2be84604.32e1fa","name":"Vref","pin":"32","set":"","level":"0","freq":"100","out":"pwm","x":1140,"y":520,"wires":[]},{"id":"232ba7c5.1be268","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":220,"wires":[["ee40429e.0b3c6"]]},{"id":"81d2d8e8.baee18","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":140,"wires":[["d9b481db.ad23"]]},{"id":"654e8e21.d17dd","type":"inject","z":"2be84604.32e1fa","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":40,"wires":[["f16158e8.267678"]]},{"id":"656368cf.146da8","type":"ui_button","z":"2be84604.32e1fa","name":"stop","group":"1916cfb8.9bc83","order":3,"width":0,"height":0,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":140,"y":220,"wires":[["514857dc.bb2f68","361c3d1d.0b7ec2"]]},{"id":"fe1e2c93.0618c","type":"ui_button","z":"2be84604.32e1fa","name":"back","group":"1916cfb8.9bc83","order":2,"width":0,"height":0,"passthru":false,"label":"back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"back","payloadType":"str","topic":"","x":130,"y":320,"wires":[["514857dc.bb2f68","361c3d1d.0b7ec2"]]},{"id":"c86888a6.629a68","type":"ui_button","z":"2be84604.32e1fa","name":"start","group":"1916cfb8.9bc83","order":1,"width":0,"height":0,"passthru":false,"label":"start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":130,"y":440,"wires":[["514857dc.bb2f68","361c3d1d.0b7ec2"]]},{"id":"5406bf1f.1b252","type":"ui_slider","z":"2be84604.32e1fa","name":"speed","label":"speed","tooltip":"","group":"fb7aa0ac.80691","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"10","step":1,"x":140,"y":560,"wires":[["514857dc.bb2f68","361c3d1d.0b7ec2"]]},{"id":"514857dc.bb2f68","type":"debug","z":"2be84604.32e1fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":120,"wires":[]},{"id":"361c3d1d.0b7ec2","type":"function","z":"2be84604.32e1fa","name":"sendinfo","func":"let in1 = context.get('in1') || 0;\nlet in2 = context.get('in2') || 0;\nlet speed = context.get('speed') || 0;\n\nif(msg.payload == 'stop'){\n    in1 = 1;\n    in2 = 1;\n}else if(msg.payload == 'start'){\n    in1 = 1;\n    in2 = 0;\n}else if(msg.payload == 'back'){\n    in1 = 0;\n    in2 = 1; \n}else  if(!isNaN(msg.payload)){\n   speed = msg.payload;\n}\n\ncontext.set('in1',in1);\ncontext.set('in2',in2);\ncontext.set('speed',speed);\nlet msgIn1 = { payload: context.get('in1')};  \nlet msgIn2 = { payload: context.get('in2')};   \nlet msgSpeed = {payload: 30 + (context.get('speed') * 2)};\nreturn [msgIn1,msgIn2,msgSpeed];","outputs":3,"noerr":0,"x":660,"y":420,"wires":[["f16158e8.267678"],["d9b481db.ad23"],["ee40429e.0b3c6"]]}]